.custom-button {
    background: linear-gradient(135deg, #059b9a , #059494);
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 18px 36px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(107, 0, 182, 0.3);
  }
  
  .custom-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px #059b9a;
    background: linear-gradient(135deg, #059b9a , #059494 );
  }
  
  .button-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 20px;
  }
  