.sobre-container {
  min-height: 100vh;
  background-color: transparent;
  color: #e6e6e6;
  text-align: center;
  padding: 5rem 2rem;
}

.sobre-container h1 {
  font-size: 64px;
  color: #00c6c3;
  margin-bottom: 2rem;
}

.sobre-container p {
  max-width: 800px;
  margin: 1rem auto;
  font-size: 22px;
  line-height: 1.6;
}
